---
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import type { Project } from "../types/project";

const projects: Project[] = [
  {
    title: "emyht",
    description: "realtime chat application",
    technologies: ["TS", "GO"],
    href: "https://emyht.com",
  },
  {
    title: "bpm",
    description: "simple bpm tapper",
    technologies: ["TS"],
    href: "https://bpm.s12k.de/",
  },
  {
    title: "roundest",
    description: "vote for the roundest pokémon",
    technologies: ["GO"],
    href: "https://roundest.s12k.de/",
  },
  {
    title: "acme store",
    description: "e-commerce store without client side javascript",
    technologies: ["TS"],
    href: "https://acme-store.s12k.de/",
  },
  {
    title: "chirp",
    description: "twitter clone",
    technologies: ["TS"],
    href: "https://chirp.s12k.de/",
  },
  {
    title: "tic tac toe",
    description: "realtime multiplayer online tic tac toe",
    technologies: ["TS"],
    href: "https://tictactoe.s12k.de/",
  },
];
---

<Layout>
  <main class="flex flex-col gap-12 p-8 md:gap-18 md:p-18">
    <a href="/" class="text-lg font-medium">simon schmeinck</a>
    <div class="flex flex-col items-center gap-6 md:gap-8 md:px-6">
      <h1 class="w-full text-4xl font-bold">personal projects</h1>
      <ul
        class="md:grid-cols-auto-fill-20 grid w-full grid-cols-1 gap-4 md:gap-8"
      >
        {
          projects.map((project) => (
            <li>
              <ProjectCard project={project} />
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
